
.buttons{
    display: flex;
    
    justify-content: center;
    gap: 10cm;
    margin-top: 40px;
}
.head{
    font-size: 40px;
}
.start{
    
    background-color: white;
    padding: 20px;
}

.erase{
    background-color: white;
   padding: 20px; 
}
.box{

display: flex;
flex-wrap: wrap;
margin-right: auto;
margin-left: auto;
margin-top: 100px;
border-style: solid;
     
}

.square{
    background-color: white;
    width: 1em;
    height: 1em;
}






